body{
    background-color: white;
    margin-left: 300px;
    margin-right: 300px;
}
p{
    font-size: 12pt; 
    text-align: justify;
    font-family:'Times New Roman', Times, serif;
    font-weight: 200;
    text-indent: 50px;
    text-shadow: .5px .5px gray;
}
h1{
    text-align: center;
    text-decoration: underline;
}
h3{
  font-family: 'Times New Roman', Times, serif;  
}
footer{
    font-style: italic;
    font-size: 12px;
    color: gray;
}
figure{
    text-align: center;
}