body{
    background:darkslategray;
    color: white;
}
main{
    display: flex;
}
h1{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
div{
    display: block;
    background:dimgray;
    width: 200px;
    min-height: 230px;
    max-height: fit-content;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
form{
    margin-left: 5px;
    margin-right: 5px;
}
strong{
    color: black;
}
input{
    display: flex;
}