
body{
    background-color: darkmagenta;
    background-image: linear-gradient(to right,purple,blue);
}

.month{
    text-align: center;
    height: 40px;
    font-size: 25px;
    font-weight: bolder;
    background:yellow;
}
table{
  margin-left: auto;
  margin-right: auto;
  border: 5px solid black;
  padding: 0px;
  border-spacing: 0px;
  color: purple;
}
.days{
    background: lightgreen;
    height: 40px;
    text-align: center;
    font-weight: bold;
    color: purple;
}
td{
    width: 90px;
    border: .5px solid black;
    vertical-align: top;
}
.date{
    height: 90px;
    text-align: right;
    vertical-align: bottom;
    background: yellowgreen;
}
.date2{
    height: 90px;
    text-align: right;
    vertical-align: bottom;
    background: greenyellow;
    
}
p{
    font-size: 12px;
    text-align: center;
}